@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
  --mainColor: #fbac26;
  --white: #FFF;
  --black: #000000;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}

a, button, input, textarea, i {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
}

i {
  vertical-align: middle;
}

i:hover, i:focus {
  color: var(--mainColor);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background: var(--mainColor);
  border: 1px solid var(--mainColor);
}

::-webkit-scrollbar-thumb {
  background: var(--mainColor);
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn-button {
  border-radius: 3px;
  height: 40px;
  width: 200px;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.btn-default {
  background: var(--mainColor) !important;
  color: var(--white) !important;
  border: 1px solid var(--mainColor) !important;
}

.btn-default:hover {
  background-color: var(--white) !important;
  color: var(--mainColor) !important;
}

.btn-white {
  background: var(--white) !important;
  color: var(--mainColor) !important;
  border: 1px solid var(--white) !important;
}

.btn-white:hover {
  background-color: var(--mainColor) !important;
  color: var(--white) !important;
}

.color-default {
  color: var(--mainColor) !important;
}

.color-black {
  color: var(--black) !important;
}

.color-white {
  color: var(--white) !important;
}

::-moz-selection {
  background: var(--mainColor);
  color: var(--white);
}

::selection {
  background: var(--mainColor);
  color: var(--white);
}

::-moz-selection {
  background: var(--mainColor);
  color: var(--white);
}

.back {
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}

.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}

.owl-carousel .owl-nav {
  display: none;
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
  z-index: 99999;
}

.loader .loading {
  position: relative;
  top: -50px;
}

.loader .loading span {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-animation: speed 2s infinite ease-in-out;
          animation: speed 2s infinite ease-in-out;
}

.loader .loading span:nth-child(1) {
  background: var(--mainColor);
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.loader .loading span:nth-child(2) {
  background: var(--black);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loader .loading span:nth-child(3) {
  background: var(--mainColor);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loader .loading span:nth-child(4) {
  background: var(--black);
}

@-webkit-keyframes speed {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    -webkit-transform: translate(150%) scale(0.5);
            transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }
  50% {
    -webkit-transform: translate(150%, 150%);
            transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    -webkit-transform: translate(0, 150%) scale(0.5);
            transform: translate(0, 150%) scale(0.5);
    border-radius: 0%;
  }
}

@keyframes speed {
  0% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    -webkit-transform: translate(150%) scale(0.5);
            transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }
  50% {
    -webkit-transform: translate(150%, 150%);
            transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    -webkit-transform: translate(0, 150%) scale(0.5);
            transform: translate(0, 150%) scale(0.5);
    border-radius: 0%;
  }
}

.section-head {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.section-head #video {
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  left: 50%;
  right: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.section-head .bg-overlay {
  position: absolute;
  top: 0;
  -webkit-transform: initial;
          transform: initial;
  left: auto;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #e5e5e5;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(251, 172, 38, 0.4)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(251, 172, 38, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f3953d',GradientType=0);
}

.section-head .bg-overlay header {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 9;
}

.section-head .bg-overlay header ul li a {
  color: #FFF;
  padding: 10px 0;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
}

.section-head .bg-overlay .text-head {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

.section-head .bg-overlay .text-head p {
  margin-bottom: 20px;
}
/*# sourceMappingURL=global.css.map */