@media screen and (max-width: 990px){

    // Style Click Nav
    .click-nav {
        display: inline-block;
    }

    // Header
    header{
        flex-direction: row-reverse;
        .links-head{
            @include positionItem(fixed, 0, 0, auto, translateX(-100%));
            background-color: #FFF;
            padding: 30px;
            width: 300px;
            height: 100%;
            transition: 0.5s;
            ul{
                flex-direction: column;
                align-items: flex-start !important;
                li{
                    display: block;
                    width: 100%;
                    a{
                        display: block;
                        width: 100%;
                        color: #fbac26 !important;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}